@font-face{
	font-family: helvetica;
	src: url('../fonts/HelveticaNeue.ttf');
}
body{
	font-size: 105%;
	line-height: 1.7em;
	font-family: helvetica;

	margin: 0px;
	padding: 0px;
}
p{
font-size: 0.95em;
}

*{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
html{
	height: 100%;
}
h1{
	font-size: 1.5em;
	line-height: 1.35em;
}
a{
	color: inherit;
	text-decoration: none;
	border-bottom: 0.15em solid #f39c45;
}
.resizable{
	height: auto;
}

#sidr a{
	border-bottom: none;
}
a:hover{
	color: #f39c45;
}
.selected a, #sidr .selected a {
	color: #f39c45;
	border-bottom: none;
}
.site-container{
	height: auto;
	overflow:hidden;
	width: 100%;
	max-width: 1024px;
}
.centered-container{
	margin: auto;
}
#side-container{
	height: 100%;
}
#main-container{
	background-color: #ffffff;
	/*border-left: 0.15em solid #e2e2e1;*/
	border-left: 0.15em solid #000000;
}
.alignleft 
{
float: left;
margin-right: 1em;
}
.alignright
{
float: right;
margin-right: 1em;
}
/* -------------------- Navigation ---------------*/
form input
{
    font-size: 1em;
}
.pagination-single > div
{
    float:left;
    margin-right: 2em;
}
div.pagination-single
{
    float:right;
}
.pagination-links > div
{
    float:right;
    border-top: 0.15em solid #000000;
}
.blog-nav{
	margin-top: 3em;
}
/*.sidr .blog-nav li{
	display: none;
}*/
.sidr .sidr-blog-nav li{
		display: none;
	}
.blog-nav li{
	margin-left: 1.50em;
	float: left;
}
.blog-nav li:first-child{
	margin-left: 0em;
}
.top-devider{
	height: 10em;
}
/*--------------------- Post Content -----------*/
#main-container > article {
	margin-bottom: 7em;
}
article:last-child{
	margin-bottom: 0em;
}
article > [class*='col-']{
	float: right;
}
article > [class*='col-']:last-child{
	margin-bottom: 0em;
}
article ul{
	margin-top: 1.8em;
	line-height: 2.25em;
	float:left;
}
article ul li{
	float: left;
	margin-right: 1.70em;
	font-size: 0.7em;
}
article li:last-child{
	margin-right: 0em;
}
article .featured-img{
	background: url(../img/design-library-01.jpg) no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover !important;
	height: 7em;
	margin-top: 1.8em;
}
article .featured-img.col-4of4{
	height: 18em;
}
.text-content{
	margin-top: 1.8em;
}
article footer{
	margin-top: 1.8em;
}
article footer a{
	font-size: 0.7em;
}
article header h1>a {
	color: inherit;
	border:none;
	-webkit-transition: color 0.15s; /* For Safari 3.1 to 6.0 */
	transition: color 0.15s;
}
article header a:hover{
	color: #f39c45;
}
/*--------------------- Comments -----------*/
ol.children
{
    padding-left:2em;
}
#comment
{
    font-size: inherit;
    font-family:inherit;
}
#comments
{
    border-top: 0.15em solid #000000;
    margin-top: 3em;
    float:right;
}
#respond
{
      padding-top: 2em;
    float: left;
}
#commentform > p {
    float:left;
}
.form-submit, .comment-list
{
    float:left;
}
.comments-title{
    padding-top: 3em;
    float: left;
    font-size: 1.5em;
    width: 100%;
   
}
.comment-metadata{
    font-size: 0.75em;
}
.comment-form-comment
{
    width:100%;
}
.form-allowed-tags{
    font-size: 0.75em;
    width:100%;
    
}
.form-allowed-tags, .comment-form-comment{
    min-height: 120px;
}
.comment-form-comment label{
    display:none;
}
#reply-title
{
    font-size: 1.5em;
}
p.logged-in-as{
    font-size: 0.75em;
    width: 100%;
}

/*--------------------- Headser -----------*/
body > header{
	width: 100%;
	height: 3em;
	background-color: #000;
}
/*--------------------- Footer -----------*/

body > footer{
	width: 100%;
	height: 3em;
	background-color: #000;
}
body > footer img{
	float: right;
}
/*--------------------- Content Header -----------*/
.post-content header img {
    width: 100%;
    height: auto;
    margin-top: 1.8em;
}
/*--------------------- Content Footer -----------*/
article .post-content{
	padding-top: 1.8em;
	border-top: 0.15em solid #000000;
}
section.content-footer{
	padding-top: 1.8em;
	border-top: 0.15em solid #000000;
	float: right;
	margin-bottom: 7em;
}
.content-footer  a, .content-footer > div{
	float:left;
	text-align: center;
}
.content-footer div  a{
	min-width: 1em;
	margin-right:0.5em;
	display: block;
}
.content-footer div  div{
	margin-right:0.5em;
}
.content-footer div  a:last-child{
	margin-right:0;
}
.content-footer div{
	margin-left: 1em;
	margin-right: 1em;
	float: left;
	display: block;
}
article > img {
	height: auto;
	padding-left: 2em;
	padding-right: 1em;
}
.load-more{
	text-align: center;
	margin-bottom: 7em;
	margin-top: 1.8em;
	display: none;
}
/*--------------------- Side Nav -----------*/
#side-container{
	/*border-left: 0.15em solid #e2e2e1;*/
}
#side-container section h1{
	margin-bottom: 1.8em;
}
#side-container > section{
	background-color: #ffffff;
	margin-bottom: 7em;
	padding-top: 1.8em;
	border-top: 0.15em solid #000000;
	/*border-left: 0.15em solid #000*/
}
#side-container > section > div{
	/*border-top: 0.15em solid #e2e2e1;*/
}

#side-container > section:last-child{
	margin-bottom: 0em;
}
#side-container > section:first-child{
	border-top: none;
	padding-top: 0em;
}
#archive ul{
	margin-top: 1.8em;
	margin-bottom: 1.8em;
}
#archive ul:last-child{
	margin-bottom: 0em;
}
/*--------------------- mobile menu -----------*/
.mobile-menu{
	display: none;
	overflow: hidden;
	position:fixed;
	width: 100%;
	z-index:100;
	border-bottom: 0.15em solid #000;
	background-color: #ffffff;
	padding: 0.5em;
}
.mobile-menu a{
	border: none;
}
#close-side{
	position:fixed;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	background-color: #000000;
}
#close-side{
	display: none;
	position:fixed;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	background-color: #000000;
	opacity:0.0;
}
.sidr-open #close-side{
	display: block;
}


/*--------------------- media queries -----------*/
@media  (max-width: 900px) {
	#side-container{
		display: none;
	}
	.mobile-menu{
		display: block;
	}
	#main-container{
		width: 96%;
	}
	.top-devider{
		margin-top: 6em;
	}
	article footer a, article ul a, .blog-nav a, .load-more a{
		color: inherit;
		text-decoration: none;
		border: none;
		background-color: #e2e2e1;
		padding: 0.50em;
		margin: 0.25em;
		border-radius: 2px;
	}
	article footer a:hover, article ul a:hover, .blog-nav a:hover, .load-more a:hover a{
		color: #000;
		background-color: #f39c45;
	}
	.blog-nav .selected a{
		background-color: #fff;
		color: #f39c45;
	}


}
/*mobile phone*/
@media (max-width: 480px)  {
	article > img {
		display: none;
	}
	.blog-nav{
		display: none;
	}
	.sidr .sidr-blog-nav li{
		display: block;
	}
	.top-devider{
		margin-top: 0em;
	}
	article ul{
		display: none;
	}
	.content-footer{
		display:none;
	}
	.load-more{
		display: block;
	}
}